apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
          image: ghcr.io/YOUR_ORG/user-service:latest
          ports:
            - containerPort: 50051
          env:          # added this for kafka setup
            - name: KAFKA_BROKERS
              value: "my-kafka:9092"
