name: Build & Deploy to Minikube

on:
  push:
    branches: [ "master" ]
  pull_request:    
    # tags:
    #   - "v*.*.*"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout code
      - uses: actions/checkout@v4

      # Step 2: Install Docker (needed for building images)
      # Docker is pre-installed on ubuntu-latest, so this step is not needed.

      # Step 3: Install Minikube
      - name: Install Minikube
        run: |
          curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64
          sudo install minikube-linux-amd64 /usr/local/bin/minikube
          minikube version

      # Step 4: Start Minikube
      - name: Start Minikube
        run: |
            minikube start --driver=docker
            minikube status

      # Step 5: Configure Docker to use Minikube's Docker daemon
      - name: Use Minikube Docker daemon
        run: |
          eval $(minikube docker-env)

      # Step 6: Build Docker images
      - name: Build user-service image
        run: docker build -t user-service:latest -f user-service/Dockerfile .  # Do this way if go.mod is in root.
        #run: docker build -t user-service:latest ./user-service            # Do this way if go.mod is at service level.

      - name: Build order-service image
        run: docker build -t order-service:latest -f order-service/Dockerfile .  # Do this way if go.mod is in root.
        #run: docker build -t order-service:latest ./order-service

      # Step 7: Set up kubectl
      - uses: azure/setup-kubectl@v4

      # Step 8: Deploy services to Minikube
      - name: Deploy Kafka
        run: |
          kubectl apply -f k8s/zookeeper.yaml
          kubectl apply -f k8s/kafka.yaml
          kubectl wait --for=condition=Ready pod -l app=zookeeper --timeout=120s
          kubectl wait --for=condition=Ready pod -l app=my-kafka --timeout=120s
      
      - name: Deploy Services
        run: |
          kubectl apply -f k8s/

      - name: Debug pods
        run: |
          kubectl get pods -o wide
          kubectl describe pods
      
      - name: Wait for service pods
        run: |
          kubectl wait --for=condition=Ready pod -l app=user-service --timeout=120s
          kubectl wait --for=condition=Ready pod -l app=order-service --timeout=120s

      - name: Show logs
        run: |
            kubectl logs -l app=user-service --tail=100
            kubectl logs -l app=order-service --tail=100

      - name: Rollout status
        run: |
          kubectl rollout status deployment/user-service
          kubectl rollout status deployment/order-service
