name: Build & Deploy to Kind

on:
  push:
    branches: [ "master" ]
  pull_request:    

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout code
      - uses: actions/checkout@v4

      # Step 2: Docker is pre-installed on ubuntu-latest

      # Step 3: Install kubectl
      - uses: azure/setup-kubectl@v4

      # Step 4: Install Kind
      - name: Install Kind
        run: |
          curl -Lo ./kind https://kind.sigs.k8s.io/dl/v0.25.0/kind-linux-amd64
          chmod +x ./kind
          sudo mv ./kind /usr/local/bin/kind
          kind version

      # Step 5: Create Kind cluster
      - name: Create Kind cluster
        run: |
          kind create cluster --name go-kafka-grpc --wait 60s
          kubectl cluster-info
          kubectl get nodes

      # Step 6: Build Docker images
      - name: Build user-service image
        run: docker build -t user-service:latest -f user-service/Dockerfile .

      - name: Load user-service image into Kind
        run: kind load docker-image user-service:latest --name go-kafka-grpc

      - name: Build order-service image
        run: docker build -t order-service:latest -f order-service/Dockerfile .

      - name: Load order-service image into Kind
        run: kind load docker-image order-service:latest --name go-kafka-grpc

      # Step 7: Deploy Kafka
      - name: Deploy Kafka
        run: |          
          kubectl apply -f k8s/zookeeper.yaml
          kubectl wait --for=condition=Ready pod -l app=zookeeper --timeout=300s
          kubectl apply -f k8s/kafka.yaml
          kubectl wait --for=condition=Ready pod -l app=my-kafka --timeout=300s

      # Step 8: Deploy your services
      - name: Deploy Services
        run: |
          kubectl apply -f k8s/user-deployment.yaml
          kubectl apply -f k8s/user-service.yaml
          kubectl apply -f k8s/order-deployment.yaml
          kubectl apply -f k8s/order-service.yaml


      # Step 9: Debug pods
      - name: Debug pods
        run: |
          kubectl get pods -o wide
          kubectl describe pods

      # Step 10: Wait for service pods
      - name: Wait for service pods
        run: |
          kubectl wait --for=condition=Ready pod -l app=user-service --timeout=120s
          kubectl wait --for=condition=Ready pod -l app=order-service --timeout=120s

      # Step 11: Show logs
      - name: Show logs
        run: |
          kubectl logs -l app=user-service --tail=100
          kubectl logs -l app=order-service --tail=100

      # Step 12: Rollout status
      - name: Rollout status
        run: |
          kubectl rollout status deployment/user-service
          kubectl rollout status deployment/order-service
