name: Build & Deploy to Minikube

on:
  push:
    branches: [ "master" ]
  pull_request:    
    # tags:
    #   - "v*.*.*"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout code
      - uses: actions/checkout@v4

      # Step 2: Install Docker (needed for building images)
      # Docker is pre-installed on ubuntu-latest, so this step is not needed.

      # Step 3: Install Minikube
      - name: Install Minikube
        run: |
          curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64
          sudo install minikube-linux-amd64 /usr/local/bin/minikube
          minikube version

      # Step 4: Install dependencies
      - name: Install Minikube none-driver dependencies
        run: |
            sudo apt-get update
            sudo apt-get install -y \
            conntrack \
            crictl \
            socat \
            ebtables \
            iptables \
            iproute2 \
            util-linux \
            curl \
            ca-certificates

      # Step 5: Start Minikube
      - name: Start Minikube
        run: |
          sudo minikube start --driver=none
          sudo chown -R $USER $HOME/.minikube
          sudo chown -R $USER $HOME/.kube
          minikube status

      # Step 6: Configure Docker to use Minikube's Docker daemon
      - name: Use Minikube Docker daemon
        run: |
          eval $(minikube docker-env)

      # Step 7: Build Docker images
      - name: Build user-service image
        run: docker build -t user-service:latest ./user-service

      - name: Build order-service image
        run: docker build -t order-service:latest ./order-service

      # Step 8: Set up kubectl
      - uses: azure/setup-kubectl@v4

      # Step 9: Deploy services to Minikube
      - name: Deploy to Minikube
        run: |
          kubectl apply -f k8s/
          kubectl rollout status deployment/user-service
          kubectl rollout status deployment/order-service
